body {
    background-image: url('../images/user-home-background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}

.main-container {
    display: flex;
   align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding: 50px 0;
}

#home-container {
    margin: 0 auto;
    max-width: 700px;
}

#appointment-form-container {
    margin-bottom: 30px;
}

#appointment-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.btn-danger {
    width: 85px;
    align-self: flex-end;
}

