body {
    background-image: url('../images/user-home-background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    color: navajowhite;
}

.page-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh;
    width: 100vw;
}


.main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding: 50px 0;
    margin-left: 15%;
}

#home-container {
    max-width: 700px;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

#appointment-form-container {
    width: 400px;
}

#appointment-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    max-width: max-content;
    max-height: max-content;
}

.navbar-btn {
    width: 85px;
    background-color: rgba(5, 30, 89);
    color: #8e8027;
    align-self: flex-start;
}
#submit-button{
    width: 85px;
    background-color: rgba(5, 30, 89);
    color: #8e8027;
    align-self: center;
}

.left-align-form .form-group {
    text-align: left;
}

.form-wrapper, .appointments-wrapper {
    width: 100%;
}

.form-wrapper {
    margin-bottom: 30px;
}
.content-container {
    display: flex;
    flex-wrap: wrap;
}



.appointments-wrapper {
    display: flex;
    width:80vw;
    flex-grow: 1;
    padding-left: 39px;
}
.appointment-card {
    width: 19rem;
    height: 19rem;
    padding: 2rem;
}

.appointment-card-body {
    height: available;
}

.form-group input{
    opacity: .5;
}

.form-control {
    opacity: .5;
}
.opaque-background {
    background-color: rgba(5, 30, 89, 0.5);
}
.hamburger-menu {
    position: absolute;
    z-index: 100;
    top: 24px;
    right: 24px;
}

.hamburger-icon {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 5vw;
    height: 2vh;
}

.hamburger-icon span {
    background-color: #ffffff;
    height: 2px;
    width: 100%;

}

.dropdown-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px;
    z-index: 100;
    width:15vw;
}

.show-dropdown-menu {
    display: flex;
    z-index: 100;
}

.dropdown-menu .btn {
    margin-bottom: 1rem;
}
a.trainerInfo {
    text-decoration: none;
    background-color: rgba(5, 30, 89);
    color: #8e8027;
    width: 100px;
    border-radius: 5px ;
    padding: 2px;
    text-align: center;
    margin-bottom: 20px;
}
a.trainerInfo:hover {
    color: rgba(5, 30, 89);
    background-color: #8e8027;
    transfomr: scale(1.5);
}